{% extends "base/base-generic.html" %}
{% load staticfiles %}

{% block title %}Helorank | Welcome{% endblock title %}

{% block nav-left %}
  <ul class="nav">
    <li{% block nav-active1 %}{% endblock %}><a href="Tour">How it Works</a></li>
    <li{% block nav-active2 %}{% endblock %}><a href="AboutUs">About Us</a></li>
    <li{% block nav-active3 %}{% endblock %}><a href="Contact">Contact</a></li>
  </ul>
{% endblock nav-left %}

{% block nav-right %}
  <ul class="nav pull-right">
    <li><a href="SignUp">Sign up</a></li>
    <li class="divider-vertical"></li>
    <li>
      <form class="navbar-form">
        <input type="submit" class="btn">Log in</a>
      </form>
    </li>
  </ul>
{% endblock nav-right %}
            
{% block footer %}
  <div class="span2">
    <h5>MENU</h5>
    <ul class="nav">
      <li><a href="Home">Home</a></li>
      <li><a href="Tour">How it Works</a></li>
      <li><a href="AboutUs">About Us</a></li>
      <li><a href="Contact">Contact</a></li>
    </ul>
  </div>
  <div class="span2">
    <h5>SOCIAL</h5>
    <ul class="nav">
      <li><a href="http://facebook.com/Helorank">Facebook</a></li>
      <li><a href="http://twitter.com/Helorank">Twitter</a></li>
      <li><a href="Blog">Blog</a></li>
    </ul>
  </div>
  <div class="span2">
    <h5>ETC</h5>
    <ul class="nav">
      <li><a href="Press">Press</a></li>
      <li><a href="Terms">Privacy</a></li>
      <li><a href="Terms">Terms</a></li>
    </ul>
  </div>
  <div class="span6 text-center">
    <img src="static/img/signature-300x75.png">
  </div>
{% endblock footer %}