{% extends "base/base-generic.html" %}
{% load staticfiles %}

{% block title %}Helorank | Welcome{% endblock title %}

{% block nav-left %}
  <ul class="nav">
    <li{% block nav-active1 %}{% endblock %}><a href="#dead">How it Works</a></li>
    <li{% block nav-active2 %}{% endblock %}><a href="#dead">About Us</a></li>
    <li{% block nav-active3 %}{% endblock %}><a href="#dead">Contact</a></li>
  </ul>
{% endblock nav-left %}

{% block nav-right %}
  <ul class="nav pull-right">
    <li><a href="/account/signup">Sign up</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/login">Log in</a></li>
  </ul>
{% endblock nav-right %}
            
{% block footer %}
  <div class="span2">
    <h5>MENU</h5>
    <ul class="nav">
      <li><a href="index">Home</a></li>
      <li><a href="#dead">How it Works</a></li>
      <li><a href="#dead">About Us</a></li>
      <li><a href="#dead">Contact</a></li>
    </ul>
  </div>
  <div class="span2">
    <h5>SOCIAL</h5>
    <ul class="nav">
      <li><a href="http://facebook.com/Helorank">Facebook</a></li>
      <li><a href="http://twitter.com/Helorank">Twitter</a></li>
      <li><a href="#dead">Blog</a></li>
    </ul>
  </div>
  <div class="span2">
    <h5>ETC</h5>
    <ul class="nav">
      <li><a href="#dead">Press</a></li>
      <li><a href="#dead">Privacy</a></li>
      <li><a href="#dead">Terms</a></li>
    </ul>
  </div>
  <div class="span6 text-center">
    <img src={% static "img/signatures/signature-300x75.jpg" %}>
  </div>
{% endblock footer %}