<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Helorank</title>
        <meta name="description" content="Track every game you play. Create power rankings among your friends.">
        <meta name="viewport" content="width=device-width">
		<link type="text/plain" rel="author" href="http://domain/humans.txt" />       
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="/static/css/main.css">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

		<!-- Navigation bar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Helorank</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <!-- Add active classes -->
                            <li><a href="About">About</a></li>
                            <li><a href="Helos">Helos</a></li>
                            <li><a href="Groups">Groups</a></li>
                            <li><a href="Games">Games</a></li>
                            <li><a href="Players">Players</a></li>
                        </ul>
                        <ul class="nav pull-right">
                        <li class="dropdown" id="accountmenu">
                        	<!-- Account menu only displayed when user is signed in -->
                            <a class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            	<li><a href="Profile">Profile</a></li>
                                <li><a href="SubmitGame">Submit Game</a></li>
                                <li><a href="DisputeGame">Dispute Game</a></li>
                                <li><a href="CreatePool">Create Pool</a></li>
                                <li><a href="JoinPool">Join Pool</a></li>
                                <li class="divider"></li>
                                <li><a href="Contact#feedback">Feedback</a></li>
                                <li><a href="#logout">Log out</a></li>
                            </ul>
                            </li>
                            <li><a href="SignUp">Sign up</a></li>
                        <li>
                        	<form class="navbar-form">
	                            <button type="submit" class="btn">Log in</button>
	                        </form>
                        </li>
                        </ul>
                        
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        <div class="container">
        <div class="container gen-margin about">
			<div class="featurette pad">
		        <h2 class="featurette-heading helogreen">Create Pool</h2>
		        <hr>
		        <p class="lead">A pool is a group of friends. Create a pool to begin logging games in Helorank. After you submit your first game, we'll calculate power rankings.</p>
		        <br>
		        <form>
		        	<legend>Get Started</legend>
				    
				    <label class="darktext">Name</label>
				    <input type="text" placeholder="Junipero 2013"><br>
				    <br>
				    
				    <label class="darktext">Description</label>
				    <input class="input-xxlarge" type="text"><br>
				    <br>
				    
				    <label class="darktext">What game are you playing?</label>
				  	<input type="text" placeholder="Basketball"><br>
				    <br>
				    
				    <label class="darktext">Game Type</label>
				  	<select>
					  <option>Sports</option>
					  <option>Video Game</option>
					  <option>Board Game</option>
					  <option>Drinking Games</option>
					  <option>Other</option>
					</select>
				  	<br>
				  	<br>
				  	
				    <label class="darktext">Pick a Helo</label>
					<span class="help-block">A Helo is the engine that ranks your friends.</span>
				    <label class="radio">
				    <input type="radio" name="helo" value="binary">Basic (Recommended). <span class="heloblue">A win is a win. The size of the victory doesn't matter.</span><br>
					</label>
		 			<label class="radio">
					<input type="radio" name="helo" value="scaled">Scaled. <span class="heloblue">Points matter. Factor in the size of my lead.</span><br>
					</label>
					<label class="radio">
					<input type="radio" name="helo" value="wins">Win Counter. <span class="heloblue">Don't do power rankings. Just keep track of everyone's wins.</span><br>
				  	</label>
				  	<br>
				  	
				  	
				  	
				  	<label>Location (Optional)</label>
				  	<input type="text" placeholder="Stanford, CA"><br>
				    <br>
				    
				    <button type="submit" class="btn">Submit</button>
				</form>
				
		     </div>
		</div>
         </div>  
        
        <footer class="foot">
        	<div class="container foot pad">
        	<div class="row">
        		<div class="span6">
        			<img src="static/img/footer/signature-280x112.png" alt="Drew Brees">
        		</div>
        		<div class="span2 smallhide">
        			<h5 class="helogreen">MENU</h5>
        			<ul class="nav">
                        <li><a href="About">About</a></li>
                        <li><a href="Helos">Helos</a></li>
                        <li><a href="Pools">Pools</a></li>
                        <li><a href="Games">Games</a></li>
                        <li><a href="Players">Players</a></li>
                	</ul>
        		</div>
        		<div class="span2">
        			<h5 class="helogreen">SOCIAL</h5>
        			<ul class="nav">
                        <li><a href="http://facebook.com/Helorank">Facebook</a></li>
                        <li><a href="http://twitter.com/Helorank">Twitter</a></li>
                        <li><a href="Blog">Blog</a></li>
                        <li><a href="Contact">Contact Us</a></li>
                	</ul>
        		</div>
        		<div class="span2">
    				<h5 class="helogreen">ETC</h5>
	    			<ul class="nav">
	                        <li><a href="Contact#press">Press</a></li>
	                        <li><a href="Terms#privacy">Privacy</a></li>
	                        <li><a href="Terms">Terms</a></li>
	                </ul>
        		</div>
        	</div>
        	<hr class="hrdown">
        	<div class="minipad">Designed by Kyle &amp; Cody</div>
        	</div>
        </footer>
     
        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
        
        <script type="text/javascript">
		    $(document).ready(function() {
			  setTimeout( function() {
			  	$('.carousel').carousel({
			      interval: 6000,
			  	});
			  },2000);
			});
		</script>
		
		<script type="text/javascript">
	    var alsoenlarge = true;
	    $(function(){
	      if(isScalePossible()){
	        $('body').css({overflow:'visible'});
	        $('#scalecontainer').css({position: 'absolute', margin: 0});  
	        scaleSite();
	        scaleSite();  
	        $(window).resize(scaleSite);
	      }
	    });
	    </script>
        
        <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-40326300-1']);
		  _gaq.push(['_setDomainName', 'helorank.appspot.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();		
		</script>  
    </body>
</html>
