{% extends "base/base-external.html" %}

{% block title %}Helorank | About{% endblock %}
{% block nav-active2 %} class="active"{% endblock %}

{% block content %} 
  <div class="container">
    <div class="row">
      <div class="span3 text-center">
        <img src="static/img/logos/logo-bold-300x75.png" alt="Logo Bold">
      </div>
      <div class="span9">
        <h1 class="heloblueDark">Helorank ranks you among your friends based on the games you play.</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span9 offset3">
      <h2>Our Product</h2>
      <p class="lead">
        Consectetur adipiscing elit. Cras eget ultrices sem. Vivamus id elementum nunc. Praesent ut porta augue. Nulla ultrices sodales facilisis. Donec nibh lacus, cursus sed semper ut, molestie et nisi. Praesent blandit accumsan elementum. Sed gravida massa ut nisl molestie sed luctus metus imperdiet. Sed pellentesque imperdiet tempor. 
      </p>
      <hr>
      <h2>Our Philosophy</h2>
      <p class="lead">
        Suspendisse potenti. Nunc vel iaculis purus. In sapien lacus, ultricies sit amet consectetur a, malesuada in orci. Praesent consectetur auctor est, a auctor ligula bibendum non. Vestibulum tincidunt enim ut ante rutrum hendrerit. Morbi a elit auctor risus egestas tempor nec eu est. Aenean lacinia, ipsum et pharetra venenatis, ipsum leo convallis ligula.
      </p>
      <hr>
      <h2>Our Team</h2>
      <div class="text-center">
        <img src="static/img/about/kyle-cody.jpg" alt="Kyle and Cody">
      </div>
      <p class="lead">
        Curabitur vel tortor ut nibh pellentesque viverra eget vel sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ac enim at mi sollicitudin lobortis et at magna. Donec mollis tempor nisl, vitae lacinia quam feugiat a. Nulla nec velit vitae dui sodales fringilla at id ante. Proin eget cursus purus.
      </p>
      
      </div>
    </div>
  </div>   
{% endblock %}

{% block scripts %}{% endblock %}