{% extends "base/base.html" %}

{% block title %}Helorank | Under Construction{% endblock %}
{% block bodypad %}
  <style>
    body {
      padding-top: 100px;
      padding-bottom: 40px;
    }
  </style>
{% endblock %}

{% block content%}
	<div class="container text-center">
	  <div class="row">
  	  <div class="span8 offset2">
        <h1>Helorank is under construction.</h1>
        <form class="form-inline">
          <input type="text" class="input-small" placeholder="Administrator">
          <input type="password" class="input-small" placeholder="Password">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
