{% extends "base/base-external.html" %}

{% block bodypad %}
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
{% endblock %}

{% block title %}Helorank | Log in{% endblock %}

{% block content %}
<div class="container"> <!--content-->
  <div class="row">
      <div class="span4 offset4">
      <h1>Sign up</h1>
      <hr>
      <div class="row">
        <div class="span4">
          <form>
            <input id="fb-signup" class="btn btn-block btn-facebook" type="submit" value="Sign up via Facebook">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <form>
            <input id="tw-signup" class="btn btn-block btn-twitter" type="submit" value="Sign up via Twitter">
          </form>
        </div>
      </div>
      <div class="row">
        <div class=" span4 text-center pad-or">
          OR
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <form method="post" action="/account/createAccount/">
            {% csrf_token %}
            <input name="username" class="input-block-level" type="text" placeholder="Username">
            <input name="email" class="input-block-level" type="text" placeholder="Email">
              <div class="row">
                <div class="span2">
                  <input name="password" class="input-block-level" type="password" placeholder="Password">
                </div>
                <div class="span2">
                  <input class="input-block-level" type="password" placeholder="Confirm Password">
                </div>
              </div>
            <button id="email-signup" class="btn btn-inverse btn-block" type="submit">Sign up via email</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <!--/content-->
{% endblock %}

{% block scripts %}{% endblock %}