{% extends "base/base-external.html" %}
{% load staticfiles %}

{% block title %}Helorank | Welcome{% endblock %}

{% block content %}
  <div id="splash">
    <img src={% static "img/welcome/welcome-splash.jpg" %}>
  </div>
  <div class="container">
    <div id="signup">
      <div class="row">
        <div class="span5 offset6">
          <h2>Power rank your friends. Track every game.</h2>
          <div class="row">
            <div class="span4">
              <form>
                <input id="fb-signup" class="btn btn-block btn-facebook" type="submit" value="Sign up via Facebook">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <form>
                <input id="tw-signup" class="btn btn-block btn-twitter" type="submit" value="Sign up via Twitter">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="span4 text-center helper-signup">
              OR
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <form method="post" action="/account/createAccount">
                {% csrf_token %}
                <input name="username" class="input-block-level" type="text" placeholder="Username">
                <input name="email" class="input-block-level" type="text" placeholder="Email">
                <input name="password" class="input-block-level" type="password" placeholder="Password">
                <input class="input-block-level" type="password" placeholder="Confirm Password">
                <button id="email-signup" class="btn btn-inverse btn-block" type="submit">Sign up via email</button>>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container splashed">
  
    <div class="featurette">
      <img class="featurette-image pull-right" src={% static "img/welcome/welcome-gr1.png" %}>
      <h2 class="featurette-heading">Create power rankings</h2>
      <p class="lead">Helorank is more than a win counter. Everyone within a league is ranked by strength of schedule in addition to game outcome. Don't rely on stories alone to relay your last victory. Quantify it with Helorank. <a href="#tour">Learn about how we rank you &raquo;</a></p>
    </div>
    <hr class="hr-featurette">
  
    <div class="featurette">
      <img class="featurette-image pull-left" src={% static "img/welcome/welcome-gr2.png" %}>
      <h2 class="featurette-heading">Challenge friends</h2>
      <p class="lead">Helorank makes every competitive event more fun. Challenge the league leader. Root for an underdog. Go double or nothing. You can create rankings for any game you come up with. <a href="#contact">Let us know how you use Helorank &raquo;</a></p>
    </div>
  
    <hr class="hr-featurette">
  
    <div class="featurette">
      <img class="featurette-image pull-right" src={% static "img/welcome/welcome-gr3.png" %}>
      <h2 class="featurette-heading">Track every game</h2>
      <p class="lead">With Helorank, you can finally keep track of the games you play with friends. Submit a single game, a 64-team bracket or anything in between. We'll sort out the winners and losers and post the results to your dashboard. <a href="#tour">Take a tour &raquo;</a></p>
    </div>
  
  </div>
{% endblock %}

{% block page-scripts %}{% endblock %}