/*
 * Helorank v1.0
 * 
 * Designed and built by Kyle & Cody.
 * 
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #999999;
  background-image:url('../img/background.png');
  background-color: #333333;
}

.navbar-inner {
  background-color: #ffffff;
  border: 1px solid #b8becf;
}

.navbar-inverse {
  background-color: #ffffff;
}

.navbar .btn {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #99cc99;
  border: 0px;
}

.navbar .btn:hover,
.navbar .btn:focus,
.navbar .btn:active,
.navbar .btn.active,
.navbar .btn.disabled,
.navbar .btn[disabled] {
  color: #ffffff;
  background-color: #b8becf;
}

.btn {
  background-color:#ffffff;
}

.navbar-inverse .nav > li > a {
  color: #99cc99;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
  color: #b8becf;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #99cc99;
  border-bottom-color: #99cc99;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #b8becf;
  border-bottom-color: #b8becf;
}

.navbar-inverse .brand {
  color: #000000;
}

.navbar-inverse .brand:hover,
.navbar-inverse .brand:focus {
	color: #b8becf;
}

.navbar-inverse .btn {
	background-color: #99cc99;
}

.navbar-inverse .btn:focus,
.navbar-inverse .btn:hover {
	background-color: #b8becf;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
}

.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
  color: #99cc99;
}
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
  color: #ffffff;
  background-color: #b8becf;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .nav-collapse .navbar-form,
.navbar-inverse .nav-collapse .navbar-search {
  border-top-color: #999999
  border-bottom-color: #999999;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #999999;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
