{% extends "base/base-external.html" %}

{% block bodypad %}
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
{% endblock %}

{% block title %}Helorank | Sign Up{% endblock %}

{% block content %}
<div class="container">
  <h1>Sign up</h1>
  <hr>
  {% if form.errors %}
    <div class="alert alert-block alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Please correct the error{{ form.errors|pluralize }} below.
    </div>
  {% endif %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <div class="control-group">
      <label class="control-label" for="id_username">Username</label>
      <div class="controls">
        {{ form.username }}
        {{ form.username.errors }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_email">Email</label>
      <div class="controls">
        {{ form.email }}
        {{ form.email.errors }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_password">Password</label>
      <div class="controls">
        {{ form.password }}
        {{ form.password.errors }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_confirm_password">Confirm Password</label>
      <div class="controls">
        {{ form.confirm_password }}
        {{ form.confirm_password.errors }}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-inverse" type="submit" value="Sign up">
      </div>
    </div>
  </form>
</div>
{% endblock content %}

{% block scripts %}{% endblock %}